[submodule "collectd/bmp180"]
	path = collectd/bmp180
	url = https://github.com/lexruee/bmp180.git
[submodule "collectd/tsl2561"]
	path = collectd/tsl2561
	url = https://github.com/lexruee/tsl2561.git
